:root {
	--dark-color: #010e26;
	--light-color: #e8e8f6;
	--dark-orange: #ebb35d;
	--light-orange: #ffedd4;
}

*,
*::before,
*::after,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
}

body {
	background-color: var(--light-color);
	color: var(--dark-color);
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/* --- header --- */

.container-header {
	background-color: var(--dark-color);
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.navigation-list {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	padding: 1.5rem;
}

.navigation-list > li:first-child {
	margin-right: auto;
}

.navigation-link li:first-child a {
	display: block;
	border: none;
	padding: 1.5rem;
	border-radius: 2rem;
}

.navigation-link {
	margin-right: 5vw;
}

.navigation-link a {
	color: var(--light-color);
	font-size: 1.5rem;
	text-decoration: none;
	padding: 1rem;
	margin: 0.625rem;
}

.image-logo {
	height: 10vw;
	width: auto;
}

/* --- Main --- */

.container-home,
.container-team,
.container-game {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem;
}

.magic-ball-image {
	width: 65vw;
	height: auto;
	margin: 2.5rem 0;
}

.magic-ball-section {
	background: var(--light-orange);
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--dark-color);
	padding: 1rem;
	border-radius: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.magic-ball-title,
.title-team {
	color: var(--dark-color);
	font-weight: bold;
	font-size: 3rem;
}

.start-button {
	text-decoration: none;
	color: var(--dark-color);
	background-color: var(--dark-orange);
	border-radius: 1rem;
	padding: 0.5em;
	margin: 1rem 4rem;
	border: none;
}


/* --- Page Game --- */

#question {
	width: 90vw;
	height: 5vh;
	border: 1px solid #ccc;
	border-radius: 2rem;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
	overflow-wrap: break-word;
	resize: none;
	margin-top: 3rem;
	margin-bottom: 2rem;
	text-align: center;
	padding-top: 0.5rem;
	padding-bottom: 1rem;
	color: var(--dark-color);
}
.userQuestionModified {
	border: none;
}

#submitButton {
	text-decoration: none;
	color: var(--dark-color);
	background-color: var(--dark-orange);
	border-radius: 1rem;
	padding: 0.5em;
	margin: 1rem 4rem;
	border: none;
}

#question-form {
	margin-bottom: 3vw;
	font-size: 5vw;
}

.image-container img {
	height: 60vh;
	width: auto;
	max-width: 100%;
}

.image-container {
	position: relative;
	text-align: center;
}

.front-image {
	display: none;
}

/* --- team --- */

.presentation {
	background-color: var(--dark-color);
	border-radius: 3rem;
	border: 1px solid var(--dark-color);
	box-shadow: 1rem 1rem rgba(0, 0, 0, 0.2);
	color: var(--light-color);
	padding: 2rem;
	margin: 2rem;
}

.image-profil {
	width: 15vw;
	height: auto;
}

.presentation-name {
	font-size: 1.6rem;
	color: var(--dark-orange);
	margin: 1rem 0;
}

.presentation > p {
	padding-left: 0.5rem;
}

/* --- Footer --- */

footer {
	margin-top: auto;
	background: var(--dark-color);
	text-align: center;
	color: var(--light-color);
	padding: 1.25rem 0
}

a#licence {
	font-size: 1rem;
	color: var(--light-color);
}
